#debug {
	right: 5px;
	bottom: 5px;
}

body {
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
	}

#jp_container_1 {
}

div.jp-audio, div.jp-audio-stream, div.jp-video {
	border: none;
}

div.jp-audio div.jp-type-single div.jp-interface {
    height: 59px;
    width: 600px;
    border-top: 1px solid rgba(0,0,0,0.2);
}

div.jp-audio {
    width: 600px;
}

div.jp-audio ul.jp-controls {
	width: 590px;
    padding: 10px 0 0 10px;
}

div.jp-audio div.jp-type-single div.jp-progress {
    left: 105px;
    width: 350px;
    height: 15px;
    position: absolute;
    top: 22px;
}

div.jp-audio div.jp-volume-bar {
    left: 508px;
    top: 27px;
}


div.jp-audio div.jp-type-single div.jp-time-holder {
    left: 105px;
    width: 348px;
    top: 40px;
}

div.jp-audio div.jp-type-single a.jp-mute,
div.jp-audio div.jp-type-single a.jp-unmute {
    margin-left: 438px;
}

a.next {
	display: block;
    overflow: hidden;
    text-indent: -9999px;
	background: url($HTMLUtil.getImageAbsPath("/jplayer/jplayer.blue.monday.jpg")) 0 -141px no-repeat;
    height: 28px;
    width: 28px;
    position: absolute;
    left: 55px;
    top: 17px;
    z-index: 1;
}
a.next:hover {
	background: url($HTMLUtil.getImageAbsPath("/jplayer/jplayer.blue.monday.jpg")) -29px -141px no-repeat;
}