body {
	-webkit-user-drag: none;
	-webkit-user-select: none;
}

:focus {
	outline: 0;
}

.mainControls .stationSelect {
	float: left;
	margin-left: 5px;
	margin-top:10px;
}

.content {
	padding-top: 25px;
	padding-left: 10px;
}

.songControls,
.songExtras,
.songInfos {
	float: left;
	margin-left: 20px;
	width: 320px;
	word-wrap: break-word;
}

.songControls,
.songExtras {
	margin-top: 20px;
}

.controls a,
.songControls a {
	display:block;
	float: left;
	text-align: center;
	padding: 1%;
	border-radius:7px;
	border: 1px solid #918e8c;
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#fefefe),
		to(#e8e7e6));
}
.controls a:hover,
.songControls a:hover {
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#f6f9fd),
		to(#dde1e6));
}
.controls a:active,
.songControls a:active {
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#d3d3d5),
		to(#d3d3d5));
}

.songControls a {
	margin: 5px;
	width: 50px;
}
.songControls a.like {
	color: #47c14a;
	margin-left: 0px;
}
.songControls a.like.liked {
	color: #ffffff;
	background: -webkit-gradient(
	linear, left top, left bottom,
	from(#71d074),
	to(#47c14a));
}
.songControls a.ban {
	color: #d05656;
}
.songControls a.sleep {
	color: #555555;
}
.controls a {
	width: 245px;
	position: fixed;
	bottom: 10px;
}
.controls a.next {
	left: 10px;
}
.controls a.pause {
	right: 10px;
}

.stationInfos {
	text-align: center;
	padding: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-weight: bold;
	font-size: 15pt;
	color: #888888;
}

.albumCover {
	float: left;
	width: 200px;
}
.albumCover .cover {
	width: 200px;
	max-height: 200px;
	box-shadow: 1px 1px 5px 2px #000;
}

.albumCover .albumTitle {
	text-align: center;
	font-weight: bold;
	padding-top: 5px;
	width: 200px;
}

.songName {
	font-weight: bold;
	font-size: 14px;
}

.songExtras .focusTraits {
	margin-top: 20px;
}

.songExtras .focusTraits .label {
	float: left;
	font-weight: bold;
}

.songExtras .focusTraits .value {
	text-indent : 8px;
}

/* ******* MENU ******* */

.drop-menu {
	position: absolute;
	top:0;
	right:0;
	text-align: right;
}
	
.plus {
	display: inline-block;
	-webkit-transition: .3s ease-in-out;
}

.drop-menu .title {
	padding: 10px 10px;
}

.drop-menu .title:hover ~ .sub-menu,
.sub-menu:hover {
	display: inline-block;
}

.drop-menu:hover .plus {
	-webkit-transform: rotate(45deg);
}

.sub-menu {
	display: none;
	margin-top: 0px;
	padding: 0px;
	text-align: left;
	border: 1px solid rgba(230,230,230, 0.95);
	background: rgba(245,245,245, 0.95);
	-webkit-box-shadow: 0px 13px 25px rgba(0,0,0, 0.2);
}

.sub-menu li {
	list-style-type: none;
	border-bottom: 1px dotted #eaeaea;
}

.sub-menu li a {
	display: block;
	padding: 5px 10px 5px 10px;
}

.sub-menu li a:hover {
	background: rgba(240,240,240, 0.95);
}
	
.sub-menu li img {
	margin-right: .5em;
	width: 13px;
	height: 13px;
}

.sub-menu li img.empty {
	visibility: hidden;
}

.quickmix .hide-if-quickmix {
	display: none;
}