<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss} %-5level %logger{0} - %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>${user.home}/.log/beluga/beluga.log</file>
		<append>false</append>
		<encoder>
			<pattern>%d{HH:mm:ss} %-5level %logger{0} - %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="STATUS" class="info.bonjean.beluga.log.StatusBarAppender">
	</appender>

	<logger name="info.bonjean.beluga.util.HTTPUtil" level="WARN" />


	<if condition='isDefined("debug")'>
		<then>
			<root>
				<level value="DEBUG" />
				<appender-ref ref="STDOUT" />
			</root>
		</then>
		<else>
			<root>
				<level value="WARN" />
				<appender-ref ref="FILE" />
			</root>
		</else>
	</if>


	<logger name="info.bonjean.beluga" level="WARN">
		<appender-ref ref="STATUS" />
	</logger>
	<logger name="info.bonjean.beluga.gui.pivot.MainWindow" level="INFO">
		<appender-ref ref="STATUS" />
	</logger>

</configuration>