body {
	background-color: #e8e7e6;
	font-size: 10pt;
	cursor: default;
	-webkit-user-drag: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

a {
	color: black;
	text-decoration: none;
}

:focus {
	outline: 0;
}

.clear {
	clear: both;
}

.debug {
	position: fixed;
	right: 10px;
	bottom: 40px;
}

.mainControls {
}
.mainControls .exit {
	float: right;
}
.mainControls .stationSelect {
	float: left;
	margin-left: 5px;
}

.controls {
}

.controls a {
	width: 245px;
	border-radius:20px;
	background-color: #d7d6a2;
	border: 1px solid #ffffff;
	position: fixed;
	bottom: 10px;
}
.controls a.next {
	left: 10px;
}
.controls a.pause {
	right: 10px;
}

.controls a,
.songControls a {
	display:block;
	float: left;
	text-align: center;
	padding: 1%;
	border: 1px solid #e8e7ff;
}
.controls a:hover,
.songControls a:hover {
	background-color: #e8e7ff;
}

.stationInfos {
	text-align: center;
	padding: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-weight: bold;
	font-size: 15pt;
	color: #888888;
}

.content {
	padding-top: 35px;
}
.albumCover {
	float: left;
	width: 200px;
	min-height: 200px;
}
.albumCover img {
	width: 200px;
	max-height: 200px;
}
.albumCover .albumTitle {
	text-align: center;
	font-weight: bold;
	padding-top: 5px;
	width: 200px;
}

.songInfos {
	float: left;
	margin-left: 20px;
	word-wrap: break-word;
	width: 280px;
}
.songName {
	font-weight: bold;
	font-size: 14px;
}
.songControls,
.songExtras {
	float: left;
	padding-top: 20px;
	margin-left: 20px;
	width: 280px;
}
.songControls a {
	background: #d7d6a2;
	margin: 5px;
	width: 50px;
	border-radius:10px;
}
.songControls a.like {
	color: #6cc46e;
}
.songControls a.dislike {
	color: #d05656;
}
.songControls a.ban {
	color: 
}

.songExtra .time {
}

.like.liked {
	background-color: green;
}

/* The CSS */
select {
    padding:3px;
    margin: 0;
    border-radius:4px;
    -webkit-box-shadow:
        0 3px 0 #ccc,
        0 -1px #fff inset;
    background: #f8f8f8;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    cursor:pointer;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {padding-right:18px}
    label {position:relative}
    label:after {
        content:'<>';
        font:11px "Consolas", monospace;
        color:#aaa;
        -webkit-transform:rotate(90deg);
        position:absolute;
        right:4px;
        top:2px;
        padding:0 0 2px;
        pointer-events:none;
        border-bottom:1px solid #ddd;
    }
}
