body {
	background-color: #f2f1f0;
	font-size: 10pt;
	cursor: default;
	-webkit-user-drag: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

a {
	color: black;
	text-decoration: none;
}

:focus {
	outline: 0;
}

.clear {
	clear: both;
}

.debug {
	position: fixed;
	right: 10px;
	bottom: 40px;
}

.mainControls {
}
.mainControls .exit {
	float: right;
}
.mainControls .stationSelect {
	float: left;
	margin-left: 5px;
	margin-top:10px;
}

.controls {
}


.controls a,
.songControls a {
	display:block;
	float: left;
	text-align: center;
	padding: 1%;
	border-radius:7px;
	border: 1px solid #918e8c;
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#fefefe),
		to(#e8e7e6));
}
.controls a:hover,
.songControls a:hover {
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#f6f9fd),
		to(#dde1e6));
}
.controls a:active,
.songControls a:active {
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#d3d3d5),
		to(#d3d3d5));
}

.songControls a {
	margin: 5px;
	width: 50px;
}
.songControls a.like {
	color: #47c14a;
	margin-left: 0px;
}
.songControls a.like.liked {
	color: #ffffff;
	background: -webkit-gradient(
	linear, left top, left bottom,
	from(#71d074),
	to(#47c14a));

}
.songControls a.ban {
	color: #d05656;
}
.songControls a.sleep {
	color: #555555;
}
.controls a {
	width: 245px;
	position: fixed;
	bottom: 10px;
}
.controls a.next {
	left: 10px;
}
.controls a.pause {
	right: 10px;
}

.stationInfos {
	text-align: center;
	padding: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-weight: bold;
	font-size: 15pt;
	color: #888888;
}

.content {
	padding-top: 25px;
	padding-left: 10px;
}
.albumCover {
	float: left;
	width: 200px;
	min-height: 200px;
}
.albumCover img {
	width: 200px;
	max-height: 200px;
}
.albumCover .albumTitle {
	text-align: center;
	font-weight: bold;
	padding-top: 5px;
	width: 200px;
}

.songInfos {
	float: left;
	margin-left: 20px;
	word-wrap: break-word;
	width: 280px;
}
.songName {
	font-weight: bold;
	font-size: 14px;
}
.songControls,
.songExtras {
	float: left;
	padding-top: 20px;
	margin-left: 20px;
	width: 280px;
}

.songExtra .time {
}
