#parse("vm/header.vm")

<h1>$text['beluga.player'] $version</h1>

<h2>$text['license']</h2>

<div id="license">
Copyright (C) 2012 Julien Bonjean <julien@bonjean.info><br/>
<br/>
This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 3
of the License, or (at your option) any later version.<br/>
<br/>
This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.<br/>
<br/>
You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.<br/>
</div>

<h2>$text['credits']</h2>

<div id="credits">
	<div>
		$text['credit1']
	</div>
	<div>
		$text['credit2']
	</div>
</div>

#parse("vm/footer.vm")