#parse("vm/header.vm")

<h1>$text['bookmarks']</h1>

<ul class="tabrow">
    <li id="artists" class="selected"><a href="#">$text['artists']</a></li>
    <li id="songs"><a href="#">$text['tracks']</a></li>
</ul>

<div class="section artists">
	#foreach( $artistBookmark in $bookmarks.getArtists() )
		<div class="bookmark">
			$artistBookmark.getArtistName()
			<span class="created">
				($HTMLUtil.getFormattedPandoraDate($artistBookmark.getDateCreated()))
			</span>
			<span class="create-station">
				<a href='command://add-station/search/$artistBookmark.getMusicToken()' title="$text['create.station']"/>
					<img src="$themeImageStationAdd"/>
				</a>
			<span>
		</div>
	#end
</div>

<div class="section songs">
	#foreach( $songBookmark in $bookmarks.getSongs() )
		<div class="bookmark">
			<span class="song-name">
				$songBookmark.getSongName()
			</span>
			$text['by'] $songBookmark.getArtistName()
			<span class="created">
				($HTMLUtil.getFormattedPandoraDate($songBookmark.getDateCreated()))
			</span>
			<span class="create-station">
				<a href='command://add-station/search/$songBookmark.getMusicToken()' title="$text['create.station']"/>
					<img src="$themeImageStationAdd"/>
				</a>
			<span>
		</div>
	#end
</div>

#parse("vm/footer.vm")