#parse("vm/header.vm")

<h1>$text['settings']</h1>

<form name="configuration" onsubmit="sendNSCommand('save-configuration', configuration.username.value, configuration.password.value, configuration.proxyHost.value, configuration.proxyPort.value, configuration.proxyDNS.value, configuration.proxyDNSWebkit.checked, configuration.theme.options[configuration.theme.selectedIndex].value); return false;">

	<ul class="tabrow">
	    <li id="pandora" class="selected"><a href="#">$text['pandora']</a></li>
	    <li id="connection"><a href="#">$text['connection']</a></li>
	    <li id="ui"><a href="#">$text['ui']</a></li>
	</ul>

	<fieldset class="section pandora">
		<legend>$text['pandora']</legend>
		<div>
			<label for="username">$text['username']</label>
			<input name="username" id="username" type="text" value="$configuration.getUserName()"/>
		</div>
		<div>
			<label for="password">$text['password']</label>
			<input name="password" id="password" type="password" value="$configuration.getPassword()"/>
		</div>
		#if ($isPandoraReachable)
			<div id="new-user">
				<a href="javascript:sendNSCommand('goto/USER_CREATE');">New User</a>
			</div>
		#end
	</fieldset>
	
	<fieldset class="section connection">
		<legend>$text['connection']</legend>
		<div>
			<label for="proxyHost">$text['proxy.host']</label>
			<input name="proxyHost" id="proxyHost" type="text" value="$configuration.getProxyHost()"/>
		</div>
		<div>
			<label for="proxyPort">$text['proxy.port']</label>
			<input name="proxyPort" id="proxyPort" type="text" value="$configuration.getProxyPortStr()"/>
		</div>
		<i>$text['or']</i>
		<div>
			<label for="proxyDNS">$text['dns.proxy']</label>
			<input name="proxyDNS" id="proxyDNS" type="text" value="$configuration.getDNSProxy()"/>
			<span class="info">
				<img src="$themeImageInfo"/>
				<span class="tooltip"> 
					<span></span>
					<ul>$text['dns.proxy.tooltip']</ul>
				</span>
			</span>
		</div>
		<div>
			<label for="proxyDNSWebkit">$text['use.for.audio']</label>
			<input name="proxyDNSWebkit" id="proxyDNSWebkit" type="checkbox" #if ($configuration.getDNSProxyWebkit()) checked #end"/>
			($text['restart.needed'])
		</div>
	</fieldset>
	
	<fieldset class="section ui">
		<legend>$text['ui']</legend>
		<div>
			<label for="theme">$text['theme']</label>
			<select name="theme">
			#foreach( $themeLocal in $themes )
				<option value="$themeLocal.getId()" #if ($themeLocal.getId() == $configuration.getThemeId()) selected #end>$text[$themeLocal.getId()]</option>
			#end
			</select>
		</div>
	</fieldset>
		
	<div id="submit">
		<input type="submit" value="$text['save']"/>
	</div>
</form>

#parse("vm/footer.vm")