<html>
	<head>
		<style type="text/css">
			#parse( "css/common.css" )
			body {
				font-size: 11px;
			}
		</style>
	</head>
	<body>
		<table>
			<tr>
				<td valign="top">
					<img width="80" height="80" src="data:image/png;base64,$song.getAlbumArtBase64()"/>
				</td>
				<td>
					<b>$HTMLUtil.shorten($song.getSongName(), 50)</b><br/>
					$text['by'] $HTMLUtil.shorten($song.getArtistName(), 30)<br/>
					<br/>
					<br/>
					<br/>
				</td>
			</tr>
		</table>
	</body>
</html>
