<table>
	<tr>
		<td valign="top">
			<img width="80" height="80" src="data:image/png;base64,$song.getAlbumArtBase64()"/>
		</td>
		<td>
			<b>$song.getSongName()</b><br/>
			$text['by'] $song.getArtistName()<br/>
			<br/>
			<br/>
			<br/>
		</td>
	</tr>
</table>
