#parse("vm/header.vm")

<h1>$station.getStationName()</h1>

<ul class="tabrow">
    <li id="details" class="selected"><a href="#">$text['details']</a></li>
    <li id="loved-songs"><a href="#">$text['loved.songs']</a></li>
    <li id="banned-songs"><a href="#">$text['banned.songs']</a></li>
</ul>

<div class="section details">
	<div class="album-cover">
		<img id="cover" class="cover" src="data:image/png;base64,$station.getArtBase64()"/>
	</div>
	<div class="station-info">
		<div><span class="label">$text["name"]:</span> $station.getStationName()</div>
		<div><span class="label">$text["creation"]:</span> $HTMLUtil.getFormattedPandoraDate($station.getDateCreated())</div>
		<div><span class="label">$text["genre"]:</span>
			#foreach( $genre in $station.getGenre() )
				$genre#if ($velocityCount != $station.getGenre().size()), #end
			#end		
		</div>
	</div>
</div>

<div class="section loved-songs">
	#foreach( $feedback in $station.getFeedback().getThumbsUp() )
		<div class="loved-song">
			<span class="song-name">
				$feedback.getSongName()
			</span>
			$text['by'] $feedback.getArtistName()
			<span class="created">
				($HTMLUtil.getFormattedPandoraDate($feedback.getDateCreated()))
			</span>
			<span class="delete-feedback">
				<a href="command://delete-feedback/$feedback.getFeedbackId()" title="$text['unlike']">
					<img src="$themeImageFeedbackDelete"/>
				</a>
			<span>
		</div>
	#end
</div>

<div class="section banned-songs">
	#foreach( $feedback in $station.getFeedback().getThumbsDown() )
		<div class="banned-song">
			$feedback.getSongName() $text['by'] $feedback.getArtistName()
			<span class="created">
				($HTMLUtil.getFormattedPandoraDate($feedback.getDateCreated()))
			</span>
			<span class="delete-feedback">
				<a href="command://delete-feedback/$feedback.getFeedbackId()" title="$text['unban']">
					<img src="$themeImageFeedbackDelete"/>
				</a>
			<span>
		</div>
	#end
</div>

#parse("vm/footer.vm")