#parse("vm/header.vm")

<h1>$text['add.station']</h1>

<div>
	<label for="query">$text['song.or.artist']</label>
	<input name="query" id="query" type="search" autofocus="autofocus" placeholder="$text['enter.your.query']..." value=""/>
	<input id="searchButton" type="button" value="Search" onclick="submitSearch()"/>
</div>

<div id="results">
	
	#if($song)
		<h2>$text['currently.playing']</h2>
		<div class='result-entries'>
			<div class='result'>
				$text['artist']: <a href='command://add-station/artist/$song.getTrackToken()' />$song.getArtistName()</a>
			</div>
			<div class='result'>
				$text['song']: <a href='command://add-station/song/$song.getTrackToken()' />$song.getSongName()</a>
			</div>
		</div>
	#end
</div>

#parse("vm/footer.vm")