#parse("vm/header.vm")

<h1>$text['beluga.player']</h1>

<div class="connecting">
	#if ($isLoggedIn)
		<div class="text">$text['connected.to.pandora']</div>
	#else
		<div class="text">$text['connecting.to.pandora']</div>
		<div id="welcome-loader">
			<img src="$themeImageWelcomeLoader"/>
		</div>
	#end
	<div class="spacer"></div>
	<!--
	<div id="goto-configuration">
		<a href="command://goto/configuration"><img src="$themeImageSettings" border="0">$text['settings']</a>
	</div>
	-->
</div>

#parse("vm/footer.vm")