@font-face {
    font-family: 'FontFace';
    src: url("data:font/opentype;base64,$HTMLUtil.getThemeResourceBase64( 'font/Roboto-Regular-webfont.ttf')");
    font-weight: normal;
    font-style: normal;
}

body {
	background-color: #f2f1f0;
	font-size: 14px;
	cursor: default;
	font-family: FontFace;
	margin: 0px;
	overflow: hidden;
	-webkit-user-drag: none;
	-webkit-user-select: none;
}

:focus {
	outline: 0;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	cursor: hand;
}

img[src=""] {
  visibility: hidden;
}

#debug {
	display: block;
	position: fixed;
	right: 10px;
	bottom: 40px;
	z-index: 2000;
}
#debug a {
	color: rgba(0,0,0,0.1);
}

#loader {
	position: fixed;
	width:100%;
	height:100%;
	background: #ffffff ;
	opacity: 0.6;
	padding: 0;
	margin:0;
	display: none;
	z-index: 10;
}

#loader img {
	margin-left: 250px;
	margin-top: 150px;
}

.clear {
	clear: both;
}

h1 {
	font-size: 18px;
}
h2 {
	font-size: 16px;
}
h3 {
	font-size: 15px;
}

#back {
	position: absolute;
	top:10px;
	right: 10px;
}
#back a {
	display: block;
}
#back img {
	width: 20px;
	height: 20px;
}

#container {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

#content {
	margin: 10px;
}

/* ********** Tooltips ********** */

div > .tooltip, li > .tooltip, a > .tooltip, span > .tooltip {
	opacity: 0;
	visibility: hidden;
	margin-top: 30px;
	margin-left: -60px;

	-webkit-transition-property:opacity, visibility;
	-webkit-transition-duration:0.5s, 0.5s;  
	-webkit-transition-timing-function: ease-in-out, ease-in-out;
}

div:hover > .tooltip, li:hover > .tooltip, a:hover > .tooltip, span:hover > .tooltip,
a .tooltip:hover, span .tooltip:hover, li .tooltip:hover, div .tooltip:hover {
	opacity: 1;
	visibility: visible;
	overflow: visible;
	display: inline;
	
	-webkit-transition-property:opacity, visibility;
	-webkit-transition-duration:0.5s, 0.5s;  
	-webkit-transition-timing-function: ease-in-out, ease-in-out;
}

.tooltip {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFBCF), color-stop(100%,#FFFCDF));

	border: 1px solid #EFE795;
	-webkit-border-radius: 3px;

	padding: 2px;
	margin-left: -40px;

	position: absolute;

	font-family: Arial;
	font-size: 12px;
	text-decoration: none;
	font-style: normal;
	color: #777;
	text-shadow: 1px 1px 0 rgba(255,255,255,0.75);
	
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1), inset 0 1px 0 #fff;

	z-index: 10;
}

.tooltip ul {
	list-style-type: none;
	padding: 0 5px 5px 5px;
	margin:0;
	width:350px;
}

.tooltip ul li {
	margin-top: 5px;
}

.tooltip span { /* Triangle */
	background: #FFFBCF;

	border: 0;
	border-top: 1px solid #EFE795;
	border-right: 1px solid #EFE795;	

	width: 10px;
	height: 10px;
	margin-left: 35px;
	margin-top: -9px;
	
	display: block;
	position: absolute;

	-webkit-transform: rotate(-45deg);
	-webkit-box-shadow: inset -1px 1px 0 #fff;
	
	display /*\**/: none\9;
	*display: none !important;
	*display: none;
}