label {
	width:80px;
	display: inline-block;
}

fieldset {
	margin-top: 5px;
}

legend {
	font-weight: bold;
}

.info {
	vertical-align: -35%;
}

#new-user a {
	color: #ccc;
	text-decoration: underline;
}