label {
	width:90px;
	display: inline-block;
}

fieldset {
	display:none;
	margin-top: 5px;
}
.section.pandora {
	display: block;
}

legend {
	font-weight: bold;
}

.info {
	vertical-align: -35%;
}

#submit {
	position: absolute;
	bottom: 10px;
	left: 10px;
}

#new-user a {
	color: #ccc;
	text-decoration: underline;
}