.section {
	display:none;
	height: 240px;
	overflow : auto;
	border: 1px solid rgba(200,200,200,0.2);
	line-height: 20px;
}
.section.details {
	display: block;
	border: none;
	padding-top: 15px;
}

.album-cover {
	float: left;
	width: 200px;
	height: 220px;
}
.album-cover .cover {
	width: 200px;
	max-height: 200px;
	box-shadow: 1px 1px 5px 2px #000;
}

.station-info {
	float: left;
	width: 350px;
	margin-left: 20px;
}
.station-info div {
	margin-top: 5px;
}
.station-info .label {
	font-weight: bold;
	color: #444;
}

.loved-song,
.banned-song {
	padding: 1px;
}
.song-name {
	font-weight: bold;
}
.created {
	color: #bbb;
}
.loved-song:hover,
.banned-song:hover {
	background-color: #ddd;
}
.delete-feedback {
	display: none;
	float: right;
	margin-right: 10px;
	margin-top: 5px;
}
.delete-feedback img {
	height: 10px;
	width: 10px;
}
.loved-song:hover .delete-feedback,
.banned-song:hover .delete-feedback {
	display: inline-block;
}
