label {
	width:90px;
	display: inline-block;
}

h2 {
	color: #ccc;
	margin-top: 5px;
}

h2 .count {
	font-weight: normal;
}

.best-match {
	display: inline-block;
}

#near-matches {
	font-size: 11px;
	margin-top: 15px;
	font-style: italic;
	color: #666;
}

a {
	color: #48479b;
}

a:hover {
	text-decoration: underline;
}

#results {
	overflow : auto;
	border: 1px solid rgba(200,200,200,0.2);
	height: 230px;
	padding: 5px;
}
