label {
	width:120px;
	display: inline-block;
}

#warning {
	font-weight: bold;
	font-size: 11px;
	color: #cccccc;
}

#terms-of-use {
	margin-top: 15px;
}

#terms-of-use input {
	float:left;
}

#terms-of-use label {
	color: red;
	font-weight: bold;
	width:520px;
	display: inline-block;
}

input[type=text],input[type=email],input[type=password] {
	width: 200px;
}

input[type=number] {
	width: 50px;
}

fieldset {
}

legend {
	font-weight: bold;
}

.info {
	vertical-align: -35%;
}