#parse( $HTMLUtil.getThemeResourcePath("init.vm") )
<html>
	<head>
		<style type="text/css">
			#parse( $HTMLUtil.getThemeResourcePath("css/common.css") )
			#parse( $HTMLUtil.getThemeResourcePath("css/${page}.css") )
		</style>
		<script type="text/javascript">
			#include( "jquery/jquery-1.8.3.min.js" )
			#include( "noty/jquery.noty.js" )
			#include( "noty/themes/default.js" )
			#include( "noty/layouts/bottomRight.js" )
			#include( "noty/layouts/top.js" )
			
			#include( "js/noty.js" )
			#parse( $HTMLUtil.getThemeResourcePath("js/common.js") )
			#parse( $HTMLUtil.getThemeResourcePath("js/${page}.js") )
		</script>
	</head>
	<body onselectstart="return false;">
		<div id="container">
	
			#if( $debug )
		    	<div id="debug">
					<a href="command://goto/$page">Reload</a>
				</div>
		    #end
			
			<div id="loader">
				<img src="$themeImageLoader"/>
			</div>
			
			#if( $pageBack )
				<div id="back">
					<a href="command://goto/$pageBack">
						<img src="$themeImageBack" title="$text['back.to'] $pageBack"/>
					</a>
				</div>
			#end
			
			<div id="content">
	