<html>
	<head>
		<style type="text/css">
			#parse( "css/common.css" )
			#include( "css/tooltip.css" )
			#parse( "css/${page}.css" )
		</style>
		<script type="text/javascript">
			#include( "jquery/jquery-1.8.3.min.js" )
			#include( "noty/jquery.noty.js" )
			#include( "noty/themes/default.js" )
			#include( "noty/layouts/bottomRight.js" )
			#include( "js/common.js" )
			#include( "js/noty.js" )
			#parse( "js/${page}.js" )
		</script>
	</head>
	<body onselectstart="return false;">
		<div id="container">
	
			#if( $debug )
		    	<div id="debug">
					<a href="command://goto/$page">Reload</a>
				</div>
		    #end
			
			<div id="loader">
				<img src="$HTMLUtil.getImage("ajax-loader-2.gif")"/>
			</div>
			
			#if( $pageBack )
				<div id="back">
					<a href="command://goto/$pageBack">
						<img src="$HTMLUtil.getImage("Previous-32.png")" title="Back to $pageBack"/>
					</a>
				</div>
			#end
			
			<div id="content">
	