#set ( $themeImageStationAdd		= "data:image/png;base64,$HTMLUtil.getThemeResourceBase64( 'img/visualpharm/Add-32.png') " )
#set ( $themeImageInfo				= "data:image/png;base64,$HTMLUtil.getThemeResourceBase64( 'img/info-20.png')" )
#set ( $themeImageStationDelete		= "data:image/png;base64,$HTMLUtil.getThemeResourceBase64( 'img/visualpharm/Delete-32.png')" )
#set ( $themeImageStationDetails	= "" )
#set ( $themeImageBookmarks			= "data:image/png;base64,$HTMLUtil.getThemeResourceBase64( 'img/visualpharm/Favorites-32.png')" )
#set ( $themeImageSettings			= "data:image/png;base64,$HTMLUtil.getThemeResourceBase64( 'img/visualpharm/Settings-32.png')" )
#set ( $themeImageAbout				= "" )
#set ( $themeImageExit				= "" )
#set ( $themeImageFeedbackDelete	= "data:image/png;base64,$HTMLUtil.getThemeResourceBase64( 'img/visualpharm/Cancel-32.png')" )
#set ( $themeImageWelcomeLoader		= "data:image/gif;base64,$HTMLUtil.getThemeResourceBase64( 'img/ajax-loader.gif')" )
#set ( $themeImageLoader			= "data:image/gif;base64,$HTMLUtil.getThemeResourceBase64( 'img/ajax-loader-2.gif')" )
#set ( $themeImageBack				= "data:image/png;base64,$HTMLUtil.getThemeResourceBase64( 'img/visualpharm/Previous-32.png')" )
